@import 'src/scss/color.scss';

body {
  margin: 0px;
  font-family: Arial, 'Times New Roman', 'Microsoft YaHei', SimHei;
  height: 100%;
  background-color: $color-body;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.mint-header {
  background-color: $color-primary;
  font-size: 1.2rem;
  height: 48px;
  line-height: 48px;
}

.mint-tabbar {
  .mint-tab-item {
    background-color: darken($color-footer, 5%);
    color: #ffffff;
    padding: 0;
    &.is-selected {
      background-color: darken($color-footer, 0%);
      color: #ffffff;
    }
    .mint-tab-item-label {
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      .mint-badge {
        //font-size: 1rem;
      }
    }
  }
}

.mint-navbar {
  background-color: $color-primary;
  .mint-tab-item {
    //margin: auto 5px;
    color: #ffffff;
    padding: 0;
    border-bottom: none;
    //border-top: 3px solid lighten(#309990, 10%);
    transition: flex-grow 0.3s cubic-bezier(.645, .045, .355, 1);
    &.is-selected {
      background-color: $color-button;
      color: #ffffff;
      margin-bottom: auto;
      //border-top: 3px solid lighten(#309990, 10%);
      border-bottom: none;
      flex-grow: 1.5
    }
    .mint-tab-item-label {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      .mint-badge {
        //font-size: 1rem;
      }
    }
  }
}

.mint-cell:last-child {
  background-image: none;
}

.mint-cell-wrapper {
  background-image: none;
  padding: 0 10px 0 0;
}

.mint-switch-input:checked + .mint-switch-core {
  border-color: $color-primary;
  background-color: $color-primary;
}

.mint-cell-text {
  padding: 0 10px;
}
